#### Exercício 02 – Manipulando dados com Pandas

a) Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx

b) e coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

d) Visualize as últimas linhas;

e) Escreva um programa para renomear o cabeçalho da tabela com os

f) seguintes nomes:

g) 5. Quais são os tipos de dados que temos no dataframe?

h) 6. Há valores faltantes ou nulos?

i) 7. Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

j) 8. Crie um programa para criar um dataframe para mostrar as vendas por

k) região, e salvar um arquivo em Excel para cada região.

▪ Centro

▪ Noroeste

▪ Norte

▪ Sudeste

▪ Oeste

▪ Leste

▪ Sudoeste

▪ Sul

▪ Nordeste

In [2]:
# Importando a biblioteca
import pandas as pd

# Mapear o caminho e o nome do arquivo

caminho = 'C:\\Users\\FIC\Documents\\Adriano Python\\003 - Arquivos\\'
arquivo = 'Imobiliária.xlsx'

# Abrir o documento e inserir em um dataframe

tabela = pd.read_excel(caminho + arquivo, sheet_name= 'Base')

# Visualizar o cabeçalho do dataframe
tabela.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 8.1,Coluna 10
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

### Renomeando as colunas

In [5]:
tabela.columns = ['filial','vendedor','data','tipo','area','dorms','garag','piscina','preco','comissao']

tabela.head()

,filial,vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5
1,Noroeste,Simone,2005-10-08,Apartamento,199.5,4,4,Não,377700,5665.5
2,Norte,Roberto,2005-10-12,Casa,145.5,2,2,Não,232500,3487.5
3,Sudeste,Simone,2005-10-14,Apartamento,153.5,3,2,Não,289100,4336.5
4,Noroeste,Cristina,2005-10-16,Apartamento,93.0,2,2,Sim,235400,3531.0

### Quais são os tipos de dados que temos no dataframe?
### Há valores faltantes ou nulos?

In [6]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filial    1117 non-null   object
 1   vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   dorms     1117 non-null   int64
 6   garag     1117 non-null   int64
 7   piscina   1117 non-null   object
 8   preco     1117 non-null   int64
 9   comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

### Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [8]:
tabela.describe()

# Funções
print(tabela['preco'].sum())# Soma
print(tabela['preco'].mean())# Media
print(tabela['preco'].max())# Maior valor da coluna
print(tabela['preco'].min())# Menor valor da coluna
print(tabela['preco'].count())# Quantidade de valores da coluna

295035000
264131.6025067144
384300
145100
1117

### 8. Crie um programa para criar um dataframe para mostrar as vendas por
### região, e salvar um arquivo em Excel para cada região.

In [14]:
# Criar um relatorio para mostrar as vendas da região CENTRO
df_final = tabela[tabela['filial']== 'Centro']

# Salvar em um diretorio especifico

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-centro.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

### Criar relatorios para cada região
▪ Noroeste

▪ Norte

▪ Sudeste

▪ Oeste

▪ Leste

▪ Sudoeste

▪ Sul

▪ Nordeste

In [17]:
### Filial Noroeste
df_final = tabela[tabela['filial']== 'Noroeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-noroeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [18]:
### Filial Norte
df_final = tabela[tabela['filial']== 'Norte']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-norte.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [21]:
### Filial Sudeste
df_final = tabela[tabela['filial']== 'Sudeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-sudeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [22]:
### Filial Oeste
df_final = tabela[tabela['filial']== 'Oeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-oeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [23]:
### Filial Leste
df_final = tabela[tabela['filial']== 'Leste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-leste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [24]:
### Filial Sudoeste
df_final = tabela[tabela['filial']== 'Sudoeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-sudoeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [25]:
### Filial Sul
df_final = tabela[tabela['filial']== 'Sul']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-sul.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

In [26]:
### Filial Nordeste
df_final = tabela[tabela['filial']== 'Nordeste']

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-nordeste.xlsx'

df_final.to_excel(caminho_destino + arquivo_final)

### Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte
### em 2010.

In [27]:
tabela[
(tabela['filial']== 'Norte')&
(tabela['data']>='2010-01-01')&
(tabela['data']<='2010-12-31')
]

,filial,vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
852,Norte,João Carlos,2010-01-01,Apartamento,72.5,2,2,Não,226700,3400.5
854,Norte,Ricardo,2010-01-06,Apartamento,33.5,1,0,Não,155100,2326.5
855,Norte,Cristina,2010-01-07,Apartamento,133.0,3,2,Não,286300,4294.5
870,Norte,João Carlos,2010-02-13,Casa,61.5,1,1,Sim,158800,2382.0
879,Norte,Simone,2010-02-22,Apartamento,80.5,2,1,Não,220400,3306.0
880,Norte,Simone,2010-02-23,Casa,92.5,2,1,Sim,228500,3427.5
881,Norte,Cristina,2010-02-24,Apartamento,118.0,3,1,Sim,298300,4474.5
895,Norte,Cristina,2010-03-06,Casa,176.0,3,2,Não,300000,4500.0
907,Norte,Cristina,2010-03-23,Apartamento,55.0,1,0,Não,160000,2400.0
909,Norte,Simone,2010-03-25,Apartamento,123.5,3,3,Sim,310900,4663.5
912,Norte,Roberto,2010-03-29,Casa,41.5,1,1,Sim,174500,2617.5
917,Norte,Adriana,2010-04-09,Casa,96.0,2,1,Sim,221600,3324.0
925,Norte,Cristina,2010-04-16,Casa,106.0,2,0,Sim,217500,3262.5
931,Norte,Roberto,2010-04-30,Casa,190.5,4,4,Não,366400,5496.0
932,Norte,Adriana,2010-05-01,Apartamento,75.5,2,0,Não,227200,3408.0
935,Norte,Adriana,2010-05-04,Apartamento,189.0,4,2,Não,369700,5545.5
946,Norte,Roberto,2010-06-09,Apartamento,27.5,1,0,Sim,159300,2389.5
971,Norte,Adriana,2010-07-15,Casa,143.5,3,3,Não,302300,4534.5
981,Norte,Adriana,2010-08-02,Casa,119.5,2,0,Sim,230300,3454.5
982,Norte,Cristina,2010-08-03,Casa,99.5,2,2,Não,232700,3490.5
987,Norte,Roberto,2010-08-13,Casa,140.0,3,3,Não,292100,4381.5
990,Norte,João Carlos,2010-08-19,Casa,153.5,3,1,Não,294500,4417.5
996,Norte,Ricardo,2010-08-25,Apartamento,199.0,4,2,Não,367600,5514.0
1000,Norte,Adriana,2010-09-01,Apartamento,132.0,3,3,Sim,296700,4450.5
1005,Norte,Ricardo,2010-09-13,Casa,169.5,4,2,Não,360000,5400.0
1012,Norte,Roberto,2010-09-24,Apartamento,152.5,3,1,Não,281300,4219.5
1019,Norte,Roberto,2010-10-04,Apartamento,143.5,3,3,Não,304800,4572.0
1020,Norte,Roberto,2010-10-04,Casa,85.0,2,1,Não,218900,3283.5
1021,Norte,João Carlos,2010-10-05,Apartamento,187.5,4,4,Sim,368700,5530.5
1023,Norte,Ricardo,2010-10-07,Casa,138.5,3,1,Sim,300800,4512.0
1051,Norte,Ricardo,2010-12-16,Apartamento,104.5,2,2,Não,223200,3348.0
1053,Norte,Cristina,2010-12-18,Apartamento,99.0,2,2,Não,236500,3547.5
1056,Norte,João Carlos,2010-12-21,Casa,96.0,2,1,Não,229000,3435.0

### Gere um arquivo em Excel para representar as vendas efetuadas pela filial
### Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas
### sem garagem.

In [30]:
# Criar um relatorio para mostrar as vendas da região Sudeste em 2010 de casa sem

df_final = tabela[
    (tabela['filial']== 'Sudeste')&
    (tabela['data']>='2010-01-01')&
    (tabela['data']<='2010-12-31')&
    (tabela['tipo']=='Casa')&
    (tabela['garag']==0)
]

# Salvar em um diretorio especifico
caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-sudeste-2010-sem-garag.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='EXEMPLO', index= False)

### Qual o valor máximo de comissão que a imobiliária numa venda?

In [31]:
# Criar um relatorio para mostrar a maior comissão já paga

df_final = tabela[tabela['comissao'] == max(tabela['comissao'])]

# Salvar em um diretorio especifico

caminho_destino = 'C:\\Users\\FIC\\Documents\\Adriano Python\\filiais\\'
arquivo_final = 'relatorio-vendas-maior-comissao.xlsx'

df_final.to_excel(caminho_destino + arquivo_final, sheet_name='EXEMPLO', index= False)